<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      .navbar-wrapper {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="navbar-wrapper">
      <a href="/"><button>Home</button></a>
      <a href="/transaction/<%= id %>"><button>Transaction</button></a>
      <% if (!id) { %>
      <div style="display: flex; justify-content: end">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Daftar</button></a>
      </div>
      <% } %>
    </div>
  </body>
</html>
